.socialmedia {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.formulario {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.intro {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #240750;
  }

.habilidades {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.proyectos {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }








